@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    max-width: 100%;
  }
  
  body {
    background-color: black;
  }

  /*Header Image*/
  
.starter{
    z-index: -1;
  height: 100vh;
  max-width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.starter img {
    position: relative;
    width: 100%;
    height: 100vh;
}

.starter-content{
    z-index: 1;
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    font-size: 2.5em;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
/*Quote Image*/
.text_over_photo_container {
  width: 100%;
  height: 95vh;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.text_over_photo_container .TOP_left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_over_photo_container .TOP_left img {
  height: 85%;
  width: 95%;
  object-fit: cover;
  margin-left: 35%;
}

.text_over_photo_container .TOP_right {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text_over_photo_container .TOP_right .TOP_text_wrapper {
  background-color: #ffffff;
  height: 60%;
  width: 100%;
  margin-left: -10%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_over_photo_container .TOP_right .TOP_text_wrapper .TOP_heading {
  font-family: "Lato", sans-serif;
  font-size: 3em;
  margin-left: 5%;
  color: #000000;
}

.text_over_photo_container .TOP_right .TOP_text_wrapper .TOP_content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  margin-left: 3%;
  font-size: 1.7em;
  font-family: "Lato", sans-serif;
  color: black;
}
.TOP_right button{
  margin-top: 10px;
  margin-left: 3%;
    border: 2px solid;
    border-image: linear-gradient(135deg, rgba(232, 59, 77), rgba(114, 59, 129)) 1;;
    background-color: white;
    height: 45px;
    width: 30%;
    /* border-radius: 30px; */
    font-family: "Lato", sans-serif;
    color: #eb3c59;
  }
  .TOP_right button:hover{
    background: linear-gradient(135deg, rgba(232, 59, 77), rgba(114, 59, 129));
    color: white;
  }
.belief {
  width: 100%;
  height: 50vh;
  background-image: url(../images/service/s2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  overflow: hidden;
  display: none;
}

.mission_wrapper {
  padding-left: 20px;
  max-height: 80%;
  width: 100%;
  background-color: #0000005b;
  margin-bottom: 10px;
}

.mission_wrapper .mission_top span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
  color: white;
}

.mission_wrapper .mission_down {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mission_wrapper .mission_down .vline {
  width: 10px;
  height: 100px;
  background-color: #eb3c59;
}

.mission_wrapper .mission_down .mission_text {
  margin-left: 25px;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}


/*Services Section*/
  .service_container {
    padding-right: 5%;
    width: 100%;
    padding-left: 5%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    height: 92vh;
    padding-top: 2%;
  }
  
  
  .service_container .service_header {
    width: 80%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.3em;
    color: #ffffff;
  }
  
  .service_container .service_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .service_container .service_wrapper .service_column_1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 6px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff;
  }
  
  .service_container .service_wrapper .service_column_1 span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
    color: #ffffff;
  }
  
  .service_container .service_wrapper .service_column_1 .service_sector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
  }
  
  .service_container .service_wrapper .service_column_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
  }
  
  .service_container .service_wrapper .service_column_2 a {
    margin-bottom: 10px;
  }
  
  .service_container .service_wrapper .service_column_2 a span {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
  }
  
  .service_container .service_wrapper .service_column_2 a:hover span {
    color: #eb3c59;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    transition: all 0.3s;
  }
  .service_container .service_wrapper .service_column_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    width: 30%;
  }
  
  .service_container .service_wrapper .service_column_3 a {
    margin-bottom: 10px;
  }
  
  .service_container .service_wrapper .service_column_3 a span {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    transition: all 0.3s;
  }
  
  .service_container .service_wrapper .service_column_3 a:hover span {
    color: #eb3c59;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
  }
/*Industeries*/

.industries_container {
    background-color: #ffffff;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
  }
  
  .industries_container .industries_header {
    width: 100%;
  }
  
  .industries_container .industries_header span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.2em;
    color: #000000;
  }
  
  .industries_container .industries_wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .industries_container .industries_wrapper .industries_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .industries_container .industries_wrapper.industries_row,
  .industries_left,
  .industries_right {
    width: 40%;
    margin-left: -10px;
  }
  
  .industries_container .industries_wrapper .industries_row .industries_left a,
  .industries_right a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    transition: all 0.3s;
  }
  
  .industries_container .industries_wrapper .industries_row .industries_left,
  .industry_name,
  .industries_right,
  .industry_name {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .industries_container
    .industries_wrapper
    .industries_row
    .industries_left
    .industry_icon,
  .industries_right .industry_icon {
    font-size: 2.5em;
  }
  
  .industries_container
    .industries_wrapper
    .industries_row
    .industries_left
    .industry,
  .industries_right .industry {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    margin-left: 25px;
  }
  
  .industries_container
    .industries_wrapper
    .industries_row
    .industries_left
    a:hover,
  .industries_right a:hover {
    transform: scale(1.1);
  }
  
  .industries_container
    .industries_wrapper
    .industries_row
    .industries_left
    a
    .industry_arrow,
  .industries_right a .industry_arrow {
    transition: all 0.3s;
  }
/*Contact Us*/
  .connect_container {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .connect_container .connect_wrapper {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .connect_container .connect_wrapper span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.3em;
    color: white;
  }
  
  .connect_container .connect_wrapper .vline {
    width: 5px;
    background: linear-gradient(135deg, rgba(232, 59, 77), rgba(114, 59, 129));
    height: 100px;
  }
  
  .connect_container .connect_wrapper button {
    border: 2px solid;
    border-image: linear-gradient(135deg, rgba(232, 59, 77), rgba(114, 59, 129)) 1;;
    background-color: black;
    height: 45px;
    width: 170px;
    /* border-radius: 30px; */
    font-family: "Lato", sans-serif;
    color: white;
  }
  .connect_container .connect_wrapper button:hover{
    background: linear-gradient(135deg, rgba(232, 59, 77), rgba(114, 59, 129));
  }





  @media screen and (max-width:600px){
    .starter{
      height: 26vh;
      object-fit: scale-down;
    }
    .starter img {
      position: relative;
/*       width: 100%; */
      height: 26vh;
  }
    .text_over_photo_container{
      display: none;
    }
    .belief{
      display: flex;
      height: 50vh;
    }
    .starter-content{
        left: 0%;
        font-size: 1.2em;
        text-align: center;
    }
    .text_over_photo_container .TOP_right .TOP_text_wrapper .TOP_heading {
        font-family: "Bebas Neue", sans-serif;
        font-size: 2em;
        margin-left: 5%;
        color: #000000;
      }
      .text_over_photo_container .TOP_right .TOP_text_wrapper .TOP_content {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10%;
        margin-left: 3%;
        font-size: 1em;
        font-family: "Lato", sans-serif;
        color: black;
      }
      .service_container .service_header{
        font-size: 3em;
      }
      .service_container .service_wrapper .service_column_1 span{
        font-size: 1.5em;
      }
      .service_container .service_wrapper .service_column_2 a span {
        font-size: 0.8em;
      }
      .service_container .service_wrapper .service_column_3 a span {
        font-size: 0.8em;
      }
      .industries_container .industry_arrow{
        display: none;
      }

      .industries_container
      .industries_wrapper
      .industries_row
      .industries_left
      .industry,
    .industries_right .industry {
      font-family: "Lato", sans-serif;
      font-size: 1.2em;
      margin-left: 15px;
    }
    .industries_container .industries_wrapper .industries_row .industries_left a,
    .industries_right a {
      width: 40%;
      margin-left: -10px;
    }
    .industries_container .industries_wrapper .industries_row {
      margin-left: 10px;
    }
  .connect_container .connect_wrapper span {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.3em;
    color: white;
  }
  .connect_container .connect_wrapper button {
    margin-left: 25px;
    border: 2px solid;
    border-image: linear-gradient(135deg, rgba(232, 59, 77), rgba(114, 59, 129)) 1;;
    background-color: black;
    height: 45px;
    width: 140px;
    /* border-radius: 30px; */
    font-family: "Lato", sans-serif;
    color: white;
  }
}
